
.container .item-a {
    grid-area: salesScheduleDiagramm;
    background-color: grey;
}
.container .item-b {
    grid-area: salesOverviewDiagramm;
    background-color: grey;
}
.container .item-c {
    grid-area: salesTotalDiagramm;
    background-color: grey;
}
.container {
    width: 89%;
    margin: auto;
    /*height: 76%;*/
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 360px 250px;
    grid-template-areas:
    "salesScheduleDiagramm salesOverviewDiagramm"
    "salesTotalDiagramm salesOverviewDiagramm";
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    margin-top:40px;
}