*{box-sizing:border-box;}


/*Глобальные стили*/

.header{
  width: 90%;
  display: flex;
  height: 18%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.content .button{
  width: 230px;
}
.button{
  height: 55px;
  border:none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(83, 130, 231, 1);
}
.button:hover{
  box-shadow:0 0 10px #407bd4;
}
.button .buttonText{
  color: rgba(255, 255, 255, 1);
  font-size: 12pt;
  margin-left: 7px;
}
.button img{
  width: 22px;
  height: 27px;
}
.namedMain{
  width: 350px;
  display: flex;
  flex-direction: column;
}
.namedMain p {
  margin-bottom: 5px;
}
.mainCreate{
  margin-left: auto;
  margin-top: 20px;
}
.namedMain .textFirst{
  font-size: 32pt;
  font-weight: bold;
}
.namedMain .textTwo{
  font-size: 12pt;
  color: rgba(43, 56, 68, 0.7);
}
hr{
  width: 90%;
}
.MuiTableHead-root{
  background-color: rgba(43, 56, 68, 1);
}
.MuiTableBody-root .MuiTableRow-root:nth-of-type(odd) {
  background-color: #F8F8F8;
}
.MuiTableBody-root td{
  border-bottom: none;
  color: rgba(43, 56, 68, 1);
}
.MuiTableBody-root th{
  border-bottom: none;
  color: rgba(43, 56, 68, 1);
}

.row {
  display: flex;
  width: 65%;
  margin-left: 5%;
  margin-top: 20px;
} .column {
    flex: 50%;
    padding-top: 15px;
  } p {
      color: rgba(53, 67, 82, 1);
    } input {
        width: 100%;
        height: 46px;
        border-color: rgba(43, 56, 68, 0.2);
      } input:focus {
          outline: none;
          border-color: rgb(126, 163, 241);
          box-shadow:0 0 10px #407bd4;
        } button {
            margin-top: 20px;
          }
input{
  padding-left: 15px;
}
.loginImage{
  width:52%;
  text-align:center;
  /*background-image: url(../../assets/login.png);*/
}  img{
     width: 100%;
     height: 100%;
   }
a{
  text-decoration: none;
  color: rgba(83, 130, 231, 1);
}
a:hover{
  text-shadow: #5D91EAFF 0 0 6px;
}



/*----------------*/


body{

}
.center{
  display: flex;
}
.navbar{
  width: 17%;
  height: 100%;
  overflow-x: hidden;
}
.content{
  width: 83%;
  height: 980px;
  background-color: #F8F8F8;
}
.logoNav{
  width: 100%;
  height: 138px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.logoContainer{
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.logoJustice{
  width: 150px;
  height: 20px;
  float: left;
  font-size: 26pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  letter-spacing: 2px;
  margin-right: 10px;
}
.logoCRM{
  width: 50px;
  height: 30px;
  float: left;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #5382E7;
  border-radius: 10%;
  color:white;
  font-weight: bold;
}
.link{
  color: rgba(43, 56, 68, 1);
  text-decoration: none;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: left;
  padding-left:45px;
  transition: opacity 0.3s;
  opacity: 0.5;
  position: relative;
}
.link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 130, 231, 0.1);
  transition: .3s;
  right: -100%;
}
.active-link:after {
    right: 0;
}
.link .link-img {
  margin-right: 10px;
  filter: grayscale(1);
}
.active-link {
  opacity: 1;
  border-right:2px solid rgba(83, 130, 231, 1);
}
.active-link:hover{
  text-shadow: none;
}
.panel a:hover{
  color: rgba(83, 130, 231, 1);
}
.active-link .link-img {
  filter: grayscale(0);
}
.active-link .link-text{
  color: #5382E7;
}
.panel{
  width: 100%;
  height: 710px;
  color: #2B3844;
}
.textSwitch{
  margin-left:10px;
}
.logOut{
  opacity: 1;
}
.logOut .link-text{
  color: #5382E7;
}